.login-page {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #f7f9fb
}

.login-card {
    background: #fff;
    width: 520px;
    padding: 34px 32px 32px;
    border-radius: 7px;
    box-shadow: 0 5px 15px #142b480e;
    text-align: center
}

.login-card h1 {
    font-size: 24px;
    margin: 13px 0 4px
}

.login-card>p {
    color: #61728b;
    font-size: 15px;
    margin: 0 0 26px
}

.login-card form {
    text-align: left
}

.login-card label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px
}

.login-card input {
    display: block;
    width: 100%;
    margin-top: 8px;
    border: 1px solid #dce2ea;
    border-radius: 7px;
    min-height: 48px;
    padding: 0 14px;
    color: #526681;
    outline: 0;
    background: #fff
}

.login-card input:focus {
    border-color: #5b13f5;
    box-shadow: 0 0 0 2px #eee6ff
}

.error {
    color: #d64551;
    display: block;
    margin-top: -7px;
    margin-bottom: 10px
}

@media(max-width: 600px) {
    .login-card {
        width: calc(100% - 28px)
    }
}